.events{
	float: left;
	background-color: lightgrey;
	border-radius: 10px;
}
.eventimg{
	width: 200px;
	float: left;
	padding: 20px;
	margin-left: 10px;
}
.eventhead{
	text-align: center;
}
	
.eventtext{
	float: left;
	width: 70%;
}

.tix{
	float: left;
}

.address img{
	width: 300px;
	height: 300px;
	float: left;
	margin-right: 10px;
}

.address{
	margin-left: 15px;
	width: 30%;
	float: left;
}

.email{
	float: left;
	width: 30%;
}

.social_media{
	float: left;
	
}

.twitter{
	width: 100px;
	height: 100px;
	float: left;
	margin: 5px;
	border-radius: 10px;
}

.insta{
	width: 100px;
	height: 100px;
	float: left;
	border-radius: 10px;
	margin: 5px:;
}
.facebook{
	width: 100px;
	height: 100px;
	float: left;
	margin: 5px;
	border-radius: 10px;
}

.social_media img{
	width: 100px;
	height: 100px;
}

.tbd{
	float: left;
	text-align: center;
	width: 100%;
}
.payment{
	border: solid black 1px;
	width: 300px;
	height: 400px;
}

.disclaimer{
	font-size: 10px;
}

.tix img{
	width: 100px;
	height: 35px;
}

.payment img{
	width: 40px;
	height: 20px;
}

