.events{
	float: left;
}
.eventimg{
	width: 200px;
	float: left;
	padding: 20px;
	margin-left: 10px;
}
.eventhead{
	text-align: center;
}

.eventtext{
	float: left;
	width: 70%;
}

.tix{
	float: left;
}

.address img{
	width: 300px;
	height: 300px;
	float: left;
	margin-right: 10px;
}

.address{
	margin-left: 15px;
}